<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% if blogs %}
        <ul>
            {% for blog in blogs %}
                <li>
                    <a href="{% url 'blog:detalhe' blog.id %}">           
                        {{blog.titulo}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum artigo para ler :(</p>
    {% endif %}
</body>
</html>